.scroll-reveal {
  /* margin: 20px 0; */
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 2.3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}

.about-us-reveal {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
  }
}

.card-content {
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
  }
}
